#Header {
  width: 100%;
  padding: 20px 0;
  z-index: 10;
  background: url("../../../../../assets/images/headerImages/header.jpg");
  background-color: #004a60;
  .content {
    display: grid;
    grid-template-columns: 8% 50% 26.5%;
    align-items: center;
    justify-content: space-between;
    // justify-items: end;
  }
  .logo {
    width: 100%;
    max-width: 100px;
  }
  .nav {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    // max-width: 525px;
    width: 100%;
    > li {
      max-width: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      div {
        cursor: pointer;
      }
      .regions {
        position: absolute;
        padding: 15px 30px;
        width: 177px;
        left: -50%;
        backdrop-filter: blur(15px);
        background: #ffffff99;
        li {
          width: 100%;
          padding: 3px 0;
        }

        a {
          width: 100%;
          font-family: Frank Ruhl Libre;
          font-size: 20px;
          font-weight: 500;
          line-height: 25.82px;
          color: #004a60;
        }
      }
    }
    > a,
    .link {
      font-family: "Frank Ruhl Libre";
      position: relative;
      font-size: 24px;
      font-weight: 700;
      line-height: 30.98px;
      color: #004a60;
      cursor: pointer;
      .active {
        color: white;
      }
      @media (max-width: 1034px) {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .links {
      width: 150px;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      padding: 10px 40px;
      left: 50%;
      transform: translate(-50%, 0%);
      background: #e6e9e68e;
      z-index: 1;
      a {
        font-size: 20px;
      }
    }
  }
  .block {
    display: flex;
    gap: 30px;
    @media (max-width: 1034px) {
      flex-direction: column-reverse;
      gap: 5px;
    }
    div {
      position: relative;
      cursor: pointer;
      img {
        position: absolute;
        top: 21px;
        right: 42px;
      }
    }

    button {
      font-family: "Frank Ruhl Libre";
      max-width: 170px;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      line-height: 25.82px;
      border-radius: 8px;
      padding: 10px 25px;
      background: #004a60;
      white-space: nowrap;

      cursor: pointer;
      color: white;
      @media (max-width: 1034px) {
        font-size: 18px;
        width: auto;
      }
    }
  }
  .block2 {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      font-family: "Frank Ruhl Libre";
      font-size: 16px;
      font-weight: 700;
      line-height: 25.82px;
      border-radius: 8px;
      padding: 5px 15px;
      background: #004a60;
      color: white;
    }
    img {
      width: 22px;
      height: 18px;
      cursor: pointer;
    }
  }
  .modal {
    position: absolute;
    border-radius: 30px;
    right: 0;
    top: 80px;
    background-color: #004a60;
    width: 300px;
    padding: 30px;
    min-height: 200px;
    nav {
      display: flex;
      flex-direction: column;
      a {
        color: white;
      }
    }
  }
  select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 60px 10px 40px;
    border: 1px solid #004a60;
    border-radius: 8px;
    color: #004a60;
    background: none;
    font-family: "Frank Ruhl Libre";
    font-size: 20px;
    font-weight: 700;
    line-height: 25.82px;
    @media (max-width: 1034px) {
      font-size: 18px;
    }

    option {
      width: 100%;
    }
  }
}

.active {
  color: white !important;
}
