.Favorites {
  background: rgb(245, 245, 245);
  max-width: 1070px;
  width: 100%;
  height: 1170px;
  padding-top: 20px;
  padding-left: 30px;
  .content {
    .Users_input {
      display: flex;
      align-items: center;
      gap: 50px;
      .inputs {
        display: flex;
        align-items: center;
        gap: 10px;
        .arrow {
          color: white;
          width: 30.96px;
          height: 30px;
          border-radius: 60px;
          background: rgb(0, 74, 96);
        }
        .input_search {
          input {
            position: relative;
            width: 677.28px;
            height: auto;
            padding: 5px 100px 5px 30px;
            border-radius: 30px;
            background: rgb(229, 228, 233);
            border: none;
          }
          .search {
            position: absolute;
            top: 32px;
            left: 290px;
            cursor: pointer;
            width: 20.31px;
            height: 20.31px;
          }
        }
      }
      .user {
        display: flex;
        align-items: center;

        .user_text {
          margin-right: 8px;
          h3 {
            color: rgb(0, 74, 96);
            font-family: Abril Fatface;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
            text-align: left;
          }
          h4 {
            color: rgb(0, 74, 96);
            font-family: Montserrat;
            font-size: 9px;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }
    }
    .favorite_content {
      margin-top: 40px;
      .text {
        display: flex;
        align-items: center;
        justify-content: start;
        h1 {
          color: rgb(0, 74, 96);
          font-family: Abril Fatface;
          font-size: 64px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.1px;
          text-align: left;
          margin-right: 535px;
        }
        .arrows {
          display: flex;
          gap: 15px;
          cursor: pointer;
        }
      }
      .Favorite_images {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        margin-top: 30px;
        .Favorite_images_block_1 {
          position: relative;
          width: 260px;
          height: 298px;
          border-radius: 6.11px;
          box-shadow: 0px 0px 7.64px 0px rgba(0, 0, 0, 0.15);
          background: rgb(255, 255, 255);
          .images_likes {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 39.17px;
            height: 39.16px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            right: 5px;
            top: 5px;
            .like {
              width: 30px;
              height: 30px;
            }
          }
          .regions_images {
            width: 260px;
            height: 206px;
          }
          .info {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 10px;
            h3 {
              color: rgb(36, 36, 36);
              font-family: Montserrat;
              font-size: 18.34px;
              font-weight: 700;
              line-height: 22px;
              letter-spacing: 0%;
              text-align: center;
            }
            .reyting {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 5px;
              margin: 5px 0px;
              p {
                color: rgb(36, 36, 36);
                font-family: Inter;
                font-size: 12.23px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
                margin-right: 3px;
              }
              svg {
                width: 6.45px;
                height: 6.85px;
                color: rgb(60, 95, 99);
              }
              span {
                color: rgb(90, 90, 90);
                font-family: Montserrat;
                font-size: 9.17px;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
              }
            }
            .address {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 5px;
              p {
                color: rgb(55, 113, 200);
                font-family: Arial;
                font-size: 9.17px;
                font-weight: 400;
                line-height: 13.39px;
                letter-spacing: 0%;
                text-align: left;
              }
            }
          }
        }
        .Favorite_images_block_2 {
          position: relative;
          width: 260px;
          height: 298px;
          border-radius: 6.11px;
          box-shadow: 0px 0px 7.64px 0px rgba(0, 0, 0, 0.15);
          background: rgb(255, 255, 255);
          .images_likes_2 {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 39.17px;
            height: 39.16px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            right: 5px;
            top: 5px;
            .like_2 {
              width: 30px;
              height: 30px;
            }
          }
          .regions_images_2 {
            width: 260px;
            height: 206px;
          }
          .info_2 {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-left: 10px;
            h3 {
              color: rgb(36, 36, 36);
              font-family: Montserrat;
              font-size: 18.34px;
              font-weight: 700;
              line-height: 22px;
              letter-spacing: 0%;
              text-align: center;
            }
            .reyting_2 {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 5px;
              margin: 5px 0px;
              p {
                color: rgb(36, 36, 36);
                font-family: Inter;
                font-size: 12.23px;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
                margin-right: 3px;
              }
              svg {
                width: 6.45px;
                height: 6.85px;
                color: rgb(60, 95, 99);
              }
              span {
                color: rgb(90, 90, 90);
                font-family: Montserrat;
                font-size: 9.17px;
                font-weight: 400;
                line-height: 140%;
                letter-spacing: 0%;
                text-align: left;
              }
            }
            .address_2 {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 5px;
              p {
                color: rgb(55, 113, 200);
                font-family: Arial;
                font-size: 9.17px;
                font-weight: 400;
                line-height: 13.39px;
                letter-spacing: 0%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Favorites {
    .content {
      .Users_input {
        display: none;
      }
      .favorite_content {
        .text {
          h1 {
            font-size: 32px;
          }
        }
        .Favorite_images {
          gap: 20px;
          .Favorite_images_block_1 {
            width: 156px;
            height: 179px;
            .images_likes {
              width: 23.5px;
              height: 23.52px;
              .like {
                width: 18.22px;
                height: 18.22px;
              }
            }
            .regions_images {
              width: 156.17px;
              height: 123.74px;
            }
            .info {
              h3 {
                font-size: 12px;
                line-height: 15px;
              }
              .reyting {
                p {
                  font-size: 7.34px;
                }
                svg {
                  // width: 3.88px;
                  // height: 4.12px;
                }
                span {
                  font-size: 5.51px;
                }
              }
              .address {
                p {
                  font-size: 6px;
                }
                svg {
                  width: 5.76px;
                  height: 7.46px;
                }
              }
            }
          }
          .Favorite_images_block_2 {
            display: none;
            width: 156px;
            height: 179px;
            .images_likes_2 {
              width: 23.5px;
              height: 23.52px;
              .like_2 {
                width: 18.22px;
                height: 18.22px;
              }
            }
            .regions_images_2 {
              width: 156.17px;
              height: 123.74px;
            }
            .info_2 {
              h3 {
                font-size: 12px;
                line-height: 15px;
              }
              .reyting_2 {
                p {
                  font-size: 7.34px;
                }
                svg {
                  // width: 3.88px;
                  // height: 4.12px;
                }
                span {
                  font-size: 5.51px;
                }
              }
              .address_2 {
                p {
                  font-size: 6px;
                }
                svg {
                  width: 5.76px;
                  height: 7.46px;
                }
              }
            }
          }
        }
      }
    }
  }
}
