.Profile {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  width: 100%;
  height: 100vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 83px 0 63px;

  // h1.authTitle {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin-bottom: 25px;
  //   font-size: 48px;
  //   font-weight: 700;
  //   line-height: 42px;
  //   text-align: center;
  //   color: var(--main-color);
  // }
  h2 {
    font-family: "inter", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: start;
    align-self: flex-start;
  }
  .ProfileCover {
    position: relative;
    width: 100%;
    height: 253px;
    background-color: var(--main-color);
    border-radius: 10px;
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }
  .headerUser {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 90px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  form {
    width: 636px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25px;

    h3 {
      padding: 14px 15px;
      font-family: "Playfair Display", sans-serif;
      outline: none;
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid var(--input);
      width: 100%;
      height: 60px;
      font-family: "inter", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }
    input {
      width: 100%;
      height: 60px;
      font-family: "inter", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
    }
    .customCheckbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;
      margin-right: auto;
      border: none;
    }
    button {
      width: 100%;
      height: 54px;
      font-family: "inter", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      color: var(--background);
    }
    .userName {
      margin-top: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: 48% 48%;
      align-items: flex-start;
      justify-content: space-between;
      p {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
        span {
          color: #ff0000;
          font-size: 20px;
        }
      }
    }
  }
}
