.Routes {
    .block1 {
      position: relative;
      background: url("../../../../../assets/images/routesImages/image\ 1042.png") no-repeat center/cover;
      width: 100%;
      height: 100vh;
      @media (max-width: 428px) {
        height: 900px;
      }
      @media (max-width: 414px) {
        height: 800px;
      }
      @media (max-width: 361px) {
        height: 700px;
      }
      @media (max-width: 320px) {
        height: 500px;
      }
  
      .blockInputs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
        position: absolute;
        top: 150px;
        width: 100%;
        height: 394px;
        background: #ffffff99;
        backdrop-filter: blur(15px);
        @media (max-width: 428px) {
          width: 100%;
          height: 168px;
          gap: 30px;
        }
        .inputs {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          @media (max-width: 428px) {
            gap: 4px;
          }
          input {
            width: 304px;
            height: 64px;
            outline: none;
            border-width: 1px;
            border-radius: 8px;
            padding: 0 25px;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 24px;
            line-height: 24.38px;
            color: #242424;
            @media (max-width: 835px) {
              width: 234px;
              height: 60px;
            }
            @media (max-width: 428px) {
              width: 139px;
              height: 34px;
              border-radius: 3.79px;
              border-width: 0.47px;
              font-size: 16px;
              padding: 0 10px;
            }
            @media (max-width: 414px) {
              width: 130px;
            }
            @media (max-width: 391px) {
              width: 124px;
            }
            @media (max-width: 320px) {
              width: 104px;
            }
            &::placeholder {
              font-family: Montserrat;
              font-weight: 500;
              font-size: 24px;
              line-height: 24.38px;
              color: #5a5a5a;
              @media (max-width: 428px) {
                font-size: 13px;
              }
            }
          }
          .btnGo {
            cursor: pointer;
            width: 101px;
            height: 64px;
            border-radius: 8px;
            background: #3c5f63;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 20px;
            line-height: 24.38px;
            text-align: center;
            color: #e5e4e9;
            border: none;
            @media (max-width: 835px) {
              height: 60px;
            }
            @media (max-width: 428px) {
              width: 48px;
              height: 34px;
              border-radius: 3.79px;
              font-size: 9.47px;
              line-height: 11.54px;
            }
            @media (max-width: 391px) {
              width: 40px;
            }
          }
        }
        .blockCitys {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          @media (max-width: 391px) {
            gap: 18px;
          }
  
          .cityImgs {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: 1280px) {
              gap: 15px;
            }
            @media (max-width: 1115px) {
              gap: 10px;
            }
            @media (max-width: 428px) {
              gap: 5px;
            }
            @media (max-width: 361px) {
              gap: 3px;
            }
            .imgTalas {
              width: 117.23578643798828px;
              height: 43.82968521118164px;
              @media (max-width: 1280px) {
                width: 116px;
                height: 42px;
              }
              @media (max-width: 1115px) {
                width: 100px;
                height: 40px;
              }
              @media (max-width: 884px) {
                width: 85px;
                height: 30px;
              }
              @media (max-width: 835px) {
                width: 70px;
                height: 27px;
              }
              @media (max-width: 428px) {
                width: 35.194393157958984px;
                height: 13.291415214538574px;
              }
              @media (max-width: 391px) {
                width: 32px;
                height: 13px;
              }
              @media (max-width: 320px) {
                width: 29px;
                height: 13px;
              }
            }
            .imgChui {
              width: 174.8114471435547px;
              height: 79.8900146484375px;
              @media (max-width: 1280px) {
                width: 166px;
                height: 70px;
              }
              @media (max-width: 1115px) {
                width: 155px;
                height: 67px;
              }
              @media (max-width: 884px) {
                width: 130px;
                height: 40px;
              }
              @media (max-width: 835px) {
                width: 110px;
                height: 34px;
              }
              @media (max-width: 428px) {
                width: 62.47871398925781px;
                height: 29.226762771606445px;
              }
              @media (max-width: 391px) {
                width: 49px;
                height: 24px;
              }
              @media (max-width: 320px) {
                width: 40px;
                height: 24px;
              }
            }
            .imgKyl {
              width: 194.8383026123047px;
              height: 100.75045013427734px;
              @media (max-width: 1280px) {
                width: 166px;
                height: 90px;
              }
              @media (max-width: 1115px) {
                width: 155px;
                height: 86px;
              }
              @media (max-width: 884px) {
                width: 130px;
                height: 60px;
              }
              @media (max-width: 835px) {
                width: 110px;
                height: 56px;
              }
              @media (max-width: 428px) {
                width: 63.49081039428711px;
                height: 35.55272102355957px;
              }
              @media (max-width: 391px) {
                width: 52px;
                height: 30px;
              }
              @media (max-width: 320px) {
                width: 49px;
                height: 30px;
              }
            }
            .imgJalalAbad {
              width: 191.06060791015625px;
              height: 79.16565704345703px;
              @media (max-width: 1280px) {
                width: 186px;
                height: 70px;
              }
              @media (max-width: 1115px) {
                width: 160px;
                height: 67px;
              }
              @media (max-width: 884px) {
                width: 130px;
                height: 40px;
              }
              @media (max-width: 835px) {
                width: 110px;
                height: 36px;
              }
              @media (max-width: 428px) {
                width: 64.35673522949219px;
                height: 29.007099151611328px;
              }
              @media (max-width: 391px) {
                width: 52px;
                height: 24px;
              }
              @media (max-width: 320px) {
                width: 49px;
                height: 24px;
              }
            }
            .imgNaryn {
              width: 188.97621154785156px;
              height: 120.86315155029297px;
              @media (max-width: 1280px) {
                width: 176px;
                height: 110px;
              }
              @media (max-width: 1115px) {
                width: 165px;
                height: 100px;
              }
              @media (max-width: 884px) {
                width: 140px;
                height: 75px;
              }
              @media (max-width: 835px) {
                width: 120px;
                height: 70px;
              }
              @media (max-width: 428px) {
                width: 56.73099899291992px;
                height: 36.65192413330078px;
              }
              @media (max-width: 391px) {
                width: 52px;
                height: 36px;
              }
              @media (max-width: 320px) {
                width: 49px;
                height: 35px;
              }
            }
            .imgOsh {
              width: 142.16712951660156px;
              height: 107.91228485107422px;
              @media (max-width: 1280px) {
                width: 136px;
                height: 100px;
              }
              @media (max-width: 1115px) {
                width: 125px;
                height: 90px;
              }
              @media (max-width: 884px) {
                width: 100px;
                height: 70px;
              }
              @media (max-width: 835px) {
                width: 80px;
                height: 67px;
              }
              @media (max-width: 428px) {
                width: 42.678829193115234px;
                height: 32.72455596923828px;
              }
              @media (max-width: 391px) {
                width: 39px;
                height: 32px;
              }
              @media (max-width: 320px) {
                width: 30px;
                height: 32px;
              }
            }
            .imgBatken {
              width: 137.53115844726562px;
              height: 52.40520095825195px;
              @media (max-width: 1280px) {
                width: 136px;
                height: 50px;
              }
              @media (max-width: 1280px) {
                width: 125px;
                height: 45px;
              }
              @media (max-width: 884px) {
                width: 93px;
                height: 40px;
              }
              @media (max-width: 835px) {
                width: 83px;
                height: 37px;
              }
              @media (max-width: 428px) {
                width: 45.2870979309082px;
                height: 20.891952514648438px;
              }
              @media (max-width: 391px) {
                width: 40px;
                height: 17px;
              }
              @media (max-width: 320px) {
                width: 37px;
                height: 17px;
              }
            }
          }
          .cityTitle {
            display: flex;
            align-items: center;
            gap: 120px;
            @media (max-width: 1280px) {
              gap: 100px;
            }
            @media (max-width: 1115px) {
              gap: 80px;
            }
            @media (max-width: 884px) {
              gap: 60px;
            }
            @media (max-width: 835px) {
              gap: 55px;
            }
            @media (max-width: 428px) {
              gap: 25px;
            }
            @media (max-width: 391px) {
              gap: 22px;
            }
            @media (max-width: 361px) {
              gap: 20px;
            }
            @media (max-width: 320px) {
              gap: 15px;
            }
            h5 {
              font-family: Montserrat;
              font-weight: 700;
              font-size: 24px;
              color: #3c5f63;
              line-height: 29.26px;
              @media (max-width: 835px) {
                font-size: 20px;
              }
              @media (max-width: 428px) {
                font-size: 12px;
                line-height: 9.75px;
              }
              @media (max-width: 391px) {
                font-size: 10px;
                line-height: 9px;
              }
            }
          }
        }
        .blockTime {
          width: 1011px;
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 884px) {
            width: 90%;
          }
          @media (max-width: 428px) {
            width: 358.0010070800781px;
            height: 47px;
          }
          @media (max-width: 361px) {
            width: 320px;
          }
          @media (max-width: 320px) {
            width: 290px;
          }
          .Time {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .icon {
              width: 56.66673278808594px;
              height: 63.12156677246094px;
              color: #3c5f63;
              @media (max-width: 428px) {
                width: 25.137487411499023px;
                height: 25.137487411499023px;
              }
            }
            p {
              font-family: Inter;
              font-weight: 500;
              font-size: 24px;
              line-height: 33.6px;
              color: #242424;
              @media (max-width: 428px) {
                font-size: 11.57px;
                line-height: 11.43px;
              }
            }
          }
        }
      }
      .modalWindow,
      .modalWindowAll {
        position: absolute;
        top: 320px;
        left: 348px;
        width: 823px;
        border-radius: 8px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        @media (max-width: 1280px) {
          left: 230px;
        }
        @media (max-width: 1115px) {
          left: 139px;
        }
        @media (max-width: 884px) {
          left: 30px;
        }
        @media (max-width: 835px) {
          width: 700px;
          left: 65px;
        }
        @media (max-width: 800px) {
          left: 56px;
        }
        @media (max-width: 768px) {
          left: 40px;
        }
        @media (max-width: 428px) {
          top: 230px;
          left: 25px;
          width: 379px;
          border-radius: 3.24px;
          gap: 10px;
        }
        @media (max-width: 391px) {
          width: 339px;
        }
        @media (max-width: 376px) {
          left: 20px;
        }
        @media (max-width: 361px) {
          left: 13px;
        }
        @media (max-width: 320px) {
          width: 300px;
        }
        h4 {
          color: #3c5f63;
          font-family: Poppins;
          font-weight: 600;
          font-size: 25px;
          line-height: 28px;
          text-align: center;
          @media (max-width: 428px) {
            font-size: 12px;
            line-height: 11.34px;
          }
        }
        .textIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 150px;
          @media (max-width: 835px) {
            gap: 120px;
          }
          @media (max-width: 428px) {
            gap: 60px;
          }
          @media (max-width: 320px) {
            gap: 30px;
          }
          h5 {
            color: #3c5f63;
            font-family: Poppins;
            font-weight: 600;
            font-size: 25px;
            line-height: 28px;
            text-align: center;
            @media (max-width: 428px) {
              font-size: 12px;
              line-height: 11.34px;
            }
          }
          .IoClose {
            cursor: pointer;
            width: 30px;
            height: 30px;
            color: #33363f;
            @media (max-width: 428px) {
              width: 22px;
              height: 22px;
            }
          }
        }
        .SearchInputs {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          @media (max-width: 428px) {
            gap: 5px;
          }
          .block11 {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 20px;
            width: 260px;
            height: 64px;
            border-width: 1px;
            border-radius: 8px;
            border: 1px solid #004a60;
            @media (max-width: 835px) {
              width: 220px;
            }
            @media (max-width: 428px) {
              width: 110px;
              height: 26px;
              padding: 0 10px;
              gap: 4.05px;
              border-radius: 3.24px;
              border-width: 0.41px;
            }
            @media (max-width: 428px) {
              width: 90px;
            }
            .icon {
              width: 24px;
              height: 24px;
              padding-top: 8.92px;
              padding-right: 2.52px;
              padding-bottom: 6.75px;
              padding-left: 3.51px;
              color: #3c5f63;
              @media (max-width: 428px) {
                width: 9.721841812133789px;
                height: 9.721841812133789px;
              }
            }
            h6 {
              font-family: Frank Ruhl Libre;
              font-weight: 700;
              font-size: 14px;
              line-height: 18.07px;
              color: #242424;
              @media (max-width: 428px) {
                font-size: 10px;
                line-height: 12.91px;
              }
            }
          }
          .searchBtn {
            width: 101px;
            height: 64px;
            border-radius: 8px;
            background: #3c5f63;
            border: none;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 20px;
            line-height: 24.38px;
            text-align: center;
            color: #e5e4e9;
            @media (max-width: 428px) {
              width: 41px;
              height: 26px;
              font-size: 10px;
              border-radius: 3.24px;
              line-height: 12.19px;
            }
          }
        }
        .blockCat {
          margin-left: 50px;
          display: flex;
          align-items: center;
          gap: 10px;
          .chooseData {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 134px;
            height: 35px;
            border-width: 1px;
            border-radius: 5px;
            padding-top: 6px;
            padding-right: 10px;
            border: 1px solid #5a5a5a;
            padding-bottom: 6px;
            padding-left: 10px;
            @media (max-width: 428px) {
              width: 56.44368362426758px;
              height: 14.177685737609863px;
              border-radius: 2.03px;
              border-width: 0.41px;
              gap: 0;
            }
            .calendarIcon {
              font-size: 30px;
              color: #3c5f63;
              @media (max-width: 428px) {
                font-size: 18px;
              }
            }
            .react-datepicker {
              border: none;
              border-radius: 8px;
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
              font-family: "Inter", sans-serif;
              width: 320px;
              @media (max-width: 428px) {
                margin-left: 20px;
              }
            }
  
            .react-datepicker__header {
              background-color: white;
              border-bottom: none;
              padding: 12px;
            }
  
            .react-datepicker__current-month {
              font-size: 18px;
              font-weight: 600;
              color: #0c131d;
            }
  
            .react-datepicker__day-names {
              display: flex;
              justify-content: space-between;
              padding: 0 8px;
            }
  
            .react-datepicker__day-name {
              color: #9ea9b7;
              font-size: 12px;
            }
  
            .react-datepicker__week {
              display: flex;
              justify-content: space-between;
            }
  
            .react-datepicker__day {
              width: 36px;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              font-size: 14px;
              color: #0c131d;
              cursor: pointer;
  
              &:hover {
                background-color: #f0f0f0;
              }
            }
  
            .react-datepicker__day--selected {
              background-color: #002f55;
              color: white;
              font-weight: bold;
            }
  
            .react-datepicker__day--in-range {
              background-color: #cfdfe8;
              color: #0c131d;
            }
  
            .react-datepicker__day--outside-month {
              color: #9ea9b7;
            }
  
            .calendarIcon {
              color: #606060;
              margin-right: 8px;
            }
  
            .dateInput {
              outline: none;
              border: none;
              background: transparent;
              font-size: 16px;
              color: #333;
              width: 100%;
              @media (max-width: 428px) {
                font-size: 8px;
                font-weight: 500;
              }
            }
          }
          .ticketNumber {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 54px;
            height: 35px;
            border-width: 1px;
            border-radius: 5px;
            padding-top: 6px;
            padding-right: 10px;
            padding-bottom: 6px;
            padding-left: 10px;
            border: 1px solid #5a5a5a;
            @media (max-width: 428px) {
              width: 22.443681716918945px;
              height: 14.177684783935547px;
              border-radius: 2.03px;
              border-width: 0.41px;
              gap: 4px;
            }
            .userIcon {
              width: 18px;
              height: 20px;
              color: #3c5f63;
              @media (max-width: 428px) {
                width: 15.291380882263184px;
                height: 10.101841926574707px;
              }
            }
            span {
              font-family: Montserrat;
              font-weight: 500;
              font-size: 20px;
              line-height: 22px;
              letter-spacing: -0.41px;
              color: #777777;
              @media (max-width: 428px) {
                font-size: 15px;
              }
            }
          }
          .filter {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 61px;
            height: 35px;
            border-width: 1px;
            border-radius: 5px;
            padding-top: 6px;
            padding-right: 10px;
            padding-bottom: 6px;
            padding-left: 10px;
            border: 1px solid #5a5a5a;
            @media (max-width: 428px) {
              width: 26.101533889770508px;
              height: 14.177684783935547px;
              border-radius: 2.03px;
              border-width: 0.41px;
            }
            span {
              font-family: Montserrat;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: -0.41px;
              color: #004a60;
              @media (max-width: 428px) {
                font-size: 12px;
                line-height: 8.91px;
                letter-spacing: -0.17px;
              }
            }
          }
        }
        .filterAvia {
          position: absolute;
          top: 57px;
          left: 12pc;
          width: 238px;
          height: 128px;
          border-radius: 5px;
          background: #fffdfd;
          box-shadow: 0px 0px 15px 0px #00000026;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 30px;
          gap: 6px;
          @media (max-width: 428px) {
            padding: 0 13px;
            width: 190px;
            height: 120px;
            left: 5pc;
            top: -48px;
          }
          @media (max-width: 428px) {
            padding: 0 13px;
            width: 150px;
            height: 100px;
            left: 3.9pc;
            top: -23px;
          }
          .transfer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-family: Frank Ruhl Libre;
              font-weight: 700;
              font-size: 14px;
              line-height: 18.07px;
              color: #004a60;
              @media (max-width: 428px) {
                font-size: 10px;
                line-height: 12.91px;
              }
            }
            .switch {
              position: relative;
              display: inline-block;
              width: 34px;
              height: 20px;
              @media (max-width: 428px) {
                width: 18.20833396911621px;
                height: 11.25px;
              }
            }
  
            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }
  
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              border-radius: 20px;
              transition: 0.4s;
            }
  
            .slider:before {
              position: absolute;
              content: "";
              height: 14px;
              width: 14px;
              left: 3px;
              bottom: 3px;
              background-color: white;
              border-radius: 50%;
              transition: 0.4s;
              @media (max-width: 428px) {
                width: 8px;
                height: 8px;
                bottom: 2px;
              }
            }
  
            input:checked + .slider {
              background-color: #004a60;
            }
  
            input:checked + .slider:before {
              transform: translateX(14px);
              @media (max-width: 428px) {
                transform: translateX(5px);
              }
            }
          }
        }
      }
      .modalWindow {
        height: 319px;
        @media (max-width: 428px) {
          height: 129px;
        }
      }
  
      .modalWindowAll {
        height: 1239px;
        @media (max-width: 1280px) {
          height: 1200px;
        }
        @media (max-width: 428px) {
          height: 524px;
        }
        .modalWindowTickets {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          @media (max-width: 428px) {
            gap: 10px;
          }
          .blockImages {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 522px;
            height: 72px;
            .airport1 {
              width: 85px;
              height: 64px;
              @media (max-width: 428px) {
                width: 35.12510299682617px;
                height: 26.44713592529297px;
              }
            }
            .airport2 {
              width: 142px;
              height: 64px;
              @media (max-width: 428px) {
                width: 58.67958068847656px;
                height: 26.44713592529297px;
              }
            }
            .airport3 {
              width: 210px;
              height: 64px;
              @media (max-width: 428px) {
                width: 86.7796630859375px;
                height: 26.44713592529297px;
              }
            }
            @media (max-width: 428px) {
              width: 218px;
              height: 30px;
              gap: 6px;
            }
          }
          .ticketsTime {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            padding-left: 40px;
            width: 540px;
            height: 139px;
            border-radius: 8px;
            background: #ffffff;
            box-shadow: 0px 4px 4px 0px #00000040;
            @media (max-width: 428px) {
              width: 236px;
              height: 57px;
              border-radius: 3.31px;
              padding-left: 15px;
            }
            .airportImg {
              width: 58px;
              height: 26px;
              @media (max-width: 428px) {
                width: 23.967716217041016px;
                height: 10.744148254394531px;
              }
            }
            .block22 {
              display: flex;
              align-items: center;
              gap: 40px;
              @media (max-width: 428px) {
                gap: 20px;
              }
              .blockTiket1 {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                @media (max-width: 428px) {
                  gap: 0;
                }
                .time {
                  font-family: Inter;
                  font-weight: 400;
                  font-size: 26px;
                  line-height: 34px;
                  color: #0c131d;
                  @media (max-width: 428px) {
                    font-size: 10px;
                    line-height: 14.05px;
                  }
                }
                .text {
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  .adresTitle {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #9ea9b7;
                    @media (max-width: 428px) {
                      font-size: 6px;
                      line-height: 7.44px;
                    }
                  }
                  .dateTitle {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #9ea9b7;
                    @media (max-width: 428px) {
                      font-size: 6px;
                      line-height: 7.44px;
                    }
                  }
                }
              }
              .blockTiket2 {
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 10px;
                @media (max-width: 428px) {
                  gap: 0;
                }
                .time {
                  font-family: Inter;
                  font-weight: 400;
                  font-size: 26px;
                  line-height: 34px;
                  color: #0c131d;
                  @media (max-width: 428px) {
                    font-size: 10px;
                    line-height: 14.05px;
                  }
                }
                .text {
                  display: flex;
                  flex-direction: column;
                  align-items: end;
                  .adresTitle {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #9ea9b7;
                    @media (max-width: 428px) {
                      font-size: 6px;
                      line-height: 7.44px;
                    }
                  }
                  .dateTitle {
                    font-family: Inter;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #9ea9b7;
                    @media (max-width: 428px) {
                      font-size: 6px;
                      line-height: 7.44px;
                    }
                  }
                }
              }
              .route {
                width: 258px;
                height: 66px;
                @media (max-width: 428px) {
                  width: 106px;
                  height: 27px;
                }
              }
            }
          }
        }
      }
    }
    .map {
      margin-top: 30px;
      @media (max-width: 428px) {
        margin: 10px 0 10px 10px;
        width: 408px;
        height: 178px;
      }
      @media (max-width: 414px) {
        margin: 10px 0 10px 10px;
        width: 390px;
        height: 178px;
      }
      @media (max-width: 391px) {
        margin: 10px 0 10px 10px;
        width: 370px;
        height: 178px;
      }
      @media (max-width: 375px) {
        margin: 10px 0 10px 10px;
        width: 350px;
        height: 178px;
      }
      @media (max-width: 361px) {
        margin: 10px 0 10px 10px;
        width: 340px;
        height: 178px;
      }
      @media (max-width: 320px) {
        margin: 10px 0 10px 10px;
        width: 300px;
        height: 178px;
      }
    }
  }